@page "/List1"
@using Masa.Blazor
<MSimpleTable  Dense Elevation="1">
<table class="tabeldetail">
<tbody>
<tr>
<td>Nama Kandang</td>
<td colspan="2">Alamat Kandang</td>
</tr>
<tr>
<td>Day Prod: 22/12</td>
<td>Last Rec: 24/12</td>
<td>Chick-In: 10/12</td>
</tr>
<tr>
<td colspan="2">Upd: 1680 Ekor</td>
<td>Chick-In: 2000 Ekor</td>
</tr>
</tbody>
</table>
</MSimpleTable>



@code {

}


